<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Postage</title>
</head>
<body>
<b>Weight: </b><%= weight %> oz.<br>
<b>Mail type: </b><%= type %><br>
<b>Total: </b>$ <%= rate %>
</body>
</html>